body{
    background-color: rgb(191, 245, 245);
}
h1{
    color: rgb(255, 38, 0);
    background-color: rgba(59, 53, 53, 0.925);
}
ol{
    font-family: cursive;
}
ul{
    font-family: cursive;
}